<% include ./partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>VotePlex</h1>
            <p>Create custom polls that anyone can vote on!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/polls/new">Add New Poll</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Current Polls</h3>
        </div>
    </div>
    
   <!-- <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    
    </div> -->

<% include ./partials/footer %>