<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To VotePlex</h1>
            <p>View and vote on our user polls!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/polls/new">Add New Poll</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Current Polls:</h3>
        </div>
    </div>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    
        <% polls.forEach(function(poll) { %>
            <div class="col-md-3 col-sm-6">
                <h3><%= poll.name %></h3>
                <p>
                    <a href="/polls/<%= poll._id %>" class="btn btn-primary">Vote!</a>
                </p>
                     
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>