<% include ../partials/header %>

<div class="row">
    <h1 class="centered">Create a New Poll</h1>
    <div class="narrow-form">
        <form action="/polls" method="POST">
            <div class="form-group">
                <label for="name">Name your poll.</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Which brand?" required />
            </div>
            <hr>
            <div class="form-group options">
                
            </div>
            <div class="form-group">
                <a class="btn btn-sm btn-success add-option">+</a>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/polls">Go Back</a>
    </div>
    
</div>

<script type="text/javascript" src="/scripts/polls.js"></script>

<% include ../partials/footer %>